In [5]:
import pandas as pd
import os

In [6]:
data_dir = "./datasets/ff1010/ff1010bird_metadata_2018.csv"

csv = pd.read_csv(data_dir)

In [7]:
csv

      itemid   datasetid  hasbird
0      64486  ff1010bird        0
1       2525  ff1010bird        0
2      44981  ff1010bird        0
3     101323  ff1010bird        0
4     165746  ff1010bird        0
...      ...         ...      ...
7685  168059  ff1010bird        0
7686  164922  ff1010bird        0
7687   80789  ff1010bird        1
7688  104733  ff1010bird        1
7689   40565  ff1010bird        0

[7690 rows x 3 columns]

In [ ]:
filepath = "./datasets/ff1010/wav"
csv["wav_path"] = csv["itemid"].apply(lambda id: os.path.join(filepath, f"{id}.wav"))

In [ ]:
def function(val):
    filepath = os.path.join()